html, body { height: 100%; width: 100%; margin: 0; }

body {
    text-align: center;
    background-color: black;
}

img {
    width: 70%;
    margin: 10px;
}

button {
    width: 35%;
    height: 10vh;
    background-color: white;
    border-radius: 10px;
    border: none;
}

h1 {
    color: white;
}

p {
    color: white;
}